* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.colors {
    display: flex;
    justify-content: center;
    width: 100%;
}

.colors * {
    display: flex;
    height: 50vh;
    width: 20%;
    margin: 20px 10px;
    background-color: #ddd;
}

.game form input {
    padding: 2px;
    border: 1px solid black;
    color: black;
}

.game form input::placeholder {
    color: black;
}

.game form button {
    padding: 2px 16px;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    background-color: black;
}

.game form button:hover {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.stats {
    width: 20%;
    margin: 40px 10px;
}

.pink {
    background-color: rgb(202, 90, 202);
}

.orange {
    background-color: rgb(231, 149, 56);
}

.purple {
    background-color: rgb(120, 67, 151);
}

.blue {
    background-color: rgb(105, 105, 219);
}